.main_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    section {
        display: flex;
        justify-content: center;
    }
    
    .banner {
        background-color: #ffffff;
        width: 100%;        

        .section_wrapper {
            display: grid;
            max-width: 1200px;
            grid-template-columns: repeat(auto-fit, minmax(385px, 1fr));
            gap: 1.5em;
            width: 100%;
            justify-items: center;
            align-items: center;

            .content {
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-self: start;

                h1, h2 {
                    color: var(--purple2)
                }

                p {
                    color: var(--purple3);
                }

            }
    
            .image_container {
                width: 100%;
                display: flex;
                justify-content: end;
                overflow: hidden;
                
                img {
                    height: 100%;
                    max-width: 385px;
                    max-height: 385px;
                    width: auto;
                    border: 10px solid var(--purple2);
                    border-radius: 10px;
                }
    
            }
        }
    }

    .work {
        background-color: var(--yellow1);
        width: 100%;

        .section_wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 1200px;
    
            .content {
                width: 100%;
                text-align: start;

                h1, h2 {
                    color: var(--yellow2)
                }
            }
    
            .projects_container {
                display: grid;
                grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
                gap: 1em 1.5em;
                width: 100%;
    
                .project {
                    display: flex;
                    flex-direction: column;
                    border-radius: 20px;
                    border: 10px solid var(--yellow2);
                    background-color: #ffffff;
                    overflow: hidden;
    
                    img {
                        width: 100%;
                        object-fit: cover;
                        aspect-ratio: 7/4;
                        margin-bottom: 1em;
                    }
    
                    .project_title {
                        font-size: 1.5em;
                        font-weight: bold;
                        color: var(--yellow2);
                        margin: 0 0.667em;
                    }
    
                    .project_description {
                        font-size: 1em;
                        color: var(--yellow3);
                        margin: 1em;
                        
                    }
                }
            }
        }
        
    }

    .contact {
        width: 100%;
        background-color: var(--purple1);

        .section_wrapper {
            display: grid;
            max-width: 1200px;
            grid-template-columns: repeat(auto-fit, minmax(1fr));
            gap: 1.5em;

            .image_container {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .content {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: start;
                color: var(--purple3);
            }
        }
        
    }
}